a{
    text-decoration:none;
    color:grey;
}

a:hover{
   text-decoration:underline; 
}

nav{
    width:100% -2px; 
    background:#E7E7E7; 
    height:50px;
    border:#DADBDC 1px solid; 
    border-radius:3px;
}

nav a,nav form{   
    margin:12px;
    text-align:center;
}

nav form input{
    border:solid 1px #A9A9A9;
    border-radius:3px;
}

@media screen and (min-width:810px){
    #login_btn,#menu_btn{
        height:60%;
        margin:9px 20px 10px 20px;
        background:white;
        border-style:solid;
        border-width:1px;
        border-radius:3px;
    }

    #drop_down{
        height:52px;
        float:right;
        display:-webkit-flex;
        display:-moz-flex;
        display:flex;
        display:-ms-flex;
        flex-direction:row; 
        justify-content: space-around;
    }
    #hr_1,#hr_2{
        display:none;
    }
    #menu_btn{
        display:none;
    }
}

@media screen and (max-width:809px){
    #drop_down{ 
        background:#E7E7E7; 
        width:99.9%;
        position:absolute;
        z-index:1;
        height:0px; 
        overflow:hidden;
        transition:0.5s height;
        -webkit-transition:0.5s height;
        -moz-transition:0.5s height;
        -ms-transition:0.5s height;
        -o-transition:0.5s height;
        display:none;
    }
    #drop_down *{
        display:block;
        margin-left:auto;
        margin-right:auto;
        
       
    }
    nav hr{
        width:80%;
    }

    #login_btn{
        height:40px;
    }
    nav form{

    }
}
#logo{
    margin-left:40px;
}
#zl{
    position:absolute;
    z-index:-1;
    max-width:100%;
}
#center_up{
    -webkit-transform-origin-x:100%;
    -webkit-transform: perspective(624px) rotateY(0deg);
    -moz-transform-origin-x:100%;
    transform-origin-x:100%;
    -moz-transform: perspective(624px) rotateY(0deg);
    transition:transform 1s;

}
#center_up:hover{
    -webkit-transform: perspective(624px) rotateY(85deg);
    -moz-transform: perspective(624px) rotateY(85deg);
}
.nav_list{     
    height:100%;
    margin:10px;
}

#menu_btn{
    float:right;
    height:60%;
    margin:9px 20px 10px 20px;
    background:white;
    border-style:solid;
    border-width:1px;
    border-radius:3px;
}
#container{ 
    margin-top:20px; 
    width:80%;
    margin-right:auto;
    margin-left:auto;
    height:700px; 
    border:1px black solid;
    font-size:0;
    display:-webkit-flex;
    display:-moz-flex;
    display:flex;
    display:-ms-flex;
    flex-direction:row; 
    justify-content: space-around;

}
#container, #container div{
    border-radius:10px;
}
<<<<<<< .merge_file_KdMOSy
.column{
    position: relative;
=======
.column{  
    position:relative;
>>>>>>> .merge_file_F3ru5y
    width:31%;
    height:100%;
    display:-webkit-flex;
    display:-moz-flex;
    display:flex;
    display:-ms-flex;
    flex-direction:row; 
    justify-content: space-around;   
    flex-direction:column;
}
#column_center{
    
}
#column_left .up{
    background:#337AB7;
    height:35%
}
#column_left .down{
    background:#D9534F;
    height:55%;
}
#column_right .second{
    background:#F0AD4E;
}
.second{
    height:95%;
}
#column_center .up{
    height:55%;
    background:#5CB85C;
}
#column_center .down{
    background:#5BC0DE;
    height:35%;
}

